<div class="card">
  <div class="card-header"><h1><%= artist.name %></h1> 
  </div>
  <div class="details">
    <ul>
      <li>Category: <%= artist.category %></li>
      <li>Genre: <%= artist.genre %></li>
      <li><a href="<%= artist.website %>" target="_blank"><%= artist.website %></a></li>
    </ul>
    <% if(currentUser == artist.createdBy){%>
      <a href="/artists/<%= artist._id %>/edit">Edit</a>
    <% } %>
  </div>
  <div class="content-wrapper">
    <div class="image"><img src="<%= artist.photo ? artist.photo : '/images/missing.png' %>" alt="Artist Photo"></div>
    <div class="content">
      <p><pre><%= artist.description %></pre></p>
      <div class="reviews">
        <h2>Reviews:</h2>
        <% if(artist.reviews.length > 0){
          artist.reviews.forEach(review => { %>
            <%- include('../partials/reviewCard.ejs', {review}) %>
        <%  })
        } %>
        </div>
        <% if(currentUser) { %>
          <a href="/artists/<%= artist._id %>/reviews/new">Add Review</a>
        <% } else{ %>
          <a href="/users/login">Login to Review</a>
        <% } %>
      </div>
    </div>
  </div>
</div>