<div class="card">
  <div class="card-header"><h1><%=event.name %> @ <a href="#"><%=event.venue.name %></a></h1> 
  </div>
  <div class="details">
    <ul>
      <li>Location: <%=event.venue.location %></li>
      <li>Date: <%=event.dateTime.toLocaleDateString()%> Doors @ <%=event.dateTime.toLocaleTimeString([],{ hour: 'numeric', minute: '2-digit' }) %></li>
      <li>Cover: <%=event.coverCharge %></li>
    </ul>
  </div>
  <div class="content-wrapper">
    <div class="image"><img src="<%= event.poster ? event.poster : '/images/missing.png'%>" alt="Photo Not Found"></div>
    <div class="content">
      <p><pre><%= event.description %></pre></p>
      <h2>Artists:</h2>
      <ul>
        <% event.artists.forEach(artist => { %>
          <li><%= artist.name %></li>
        <% }) %>
      </ul>
    </div>
    <% if(currentUser == event.createdBy){%>
      <a href="/events/<%= event._id %>/edit">Edit</a>
    <% } %>
  </div>
</div>