<div class="card">
  <div class="card-header"><h1><%=event.name %> @ <a href="/venues/<%= event.venue._id%> "><%=event.venue.name %></a></h1>
    <% if(currentUser == event.createdBy){%>
      <div>
      <a class="btn" href="/events/<%= event._id %>/edit">Edit</a>
      <a class="btn" href="/events/<%= event._id %>?_method=DELETE">Delete</a>
    </div>
    <% } %> 
  </div>
  <div class="details">
    <ul>
      <li>Location: <%=event.venue.location %></li>
      <li>Date: <%=event.dateTime.toLocaleDateString()%> Doors @ <%=event.dateTime.toLocaleTimeString([],{ hour: 'numeric', minute: '2-digit' }) %></li>
      <li>Cover: <%=event.coverCharge %></li>
    </ul>
  </div>
  <div class="content-wrapper">
    <div class="image"><img src="<%= event.poster ? event.poster : '/images/missing.png'%>" alt="Photo Not Found"></div>
    <div class="content">
      <p><%= event.description %></p>
      <h2>Artists:</h2>
      <ul>
        <% event.artists.forEach(artist => { %>
          <li><a href="/artists/<%= artist._id%>"><%= artist.name %></a></li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>