<div class="card">
  <div class="review-card-header">
    <h3><%= review.createdBy.username %> </h3> 
    <div class="rating">
      <% for(let i = 0; i< review.rating; i++){ %>
        <img src="/images/star.png" alt="Star">
      <% } %>
    </div>
  </div>
  <div class="content">
    <p><%= review.content %> </p>
  </div>
  <% if(currentUser == review.createdBy._id){%>
    <a href="/<%= path %>/reviews/<%= review._id %>/edit">Edit</a>
    <a href="/<%= path %>/reviews/<%= review._id %>?_method=DELETE">Delete Review</a>
  <% } %>
</div>
