<div class="card">
  <div class="card-header"><h1><%=venue.name%></h1> 
  </div>
  <div class="details">
    <ul>
      <li>Location: <%= venue.location %></li>
      <li>Contact: <%= `${venue.contact.name}    Phone: ${venue.contact.phone}    Email: ${venue.contact.email}`%></li>
      <li><a href="<%=venue.website%>"><%=venue.website%></a></li>
    </ul>
    <% if(currentUser == venue.createdBy){%>
      <a href="/venues/<%= venue._id %>/edit">Edit</a>
    <% } %>
  </div>
  <div class="content-wrapper">
    <div class="image"><img src="<%= venue.photo ? venue.photo : '/images/missing.png'%>" alt="Venue Photo"></div>
    <div class="content">
      <p><%= venue.description %></p>
      <div class="reviews">
      <h2>Reviews:</h2>
      <% if(venue.reviews.length > 0){
        venue.reviews.forEach(review => { %>
          <%- include('../partials/reviewCard.ejs', {review}) %>
      <%  })
      } %>
      </div>
      <% if(currentUser) {%>
        <a href="/venues/<%= venue._id%>/review">Add Review</a>
      <% } else{ %>
        <a href="/users/login">Login to Review</a>
      <% } %>

    </div>
  </div>
</div>