<%- include('./partials/head.ejs') %>
<form>
  <input type="text" name="search" id="search" />
  <select name="category" id="category">
    <option value="events" selected>Events</option>
    <option value="venues">Venues</option>
    <option value="artists">Artists</option>
  </select>
  <button id="search-btn">Search</button>
</form>
<main id="main-content">
  <% results.forEach(listing =>{ %>
    <div class="card">
      <div class="card-header">
        <h1><%= listing.name %> <%= listing?.venue?.name ? ' @ ' + listing.venue.name : '' %></h1> 
        <a class="more-btn" href="/events/<%= listing._id %>">More Info</a> 
      </div>
      <div class="content">
        <p><%= listing.description %></p>
      </div>
    </div>
  <% }) %>
</main>
<script src="/javascripts/index.js"></script>
<%- include('./partials/foot.ejs')%>
